{
  "extends": "eslint-config-egg",
  "root": true,
  "rules": {},
  "extends": [
    "plugin:vue/vue3-essential",
    "eslint:recommended",
    "@vue/typescript/recommended",
    "plugin:prettier/recommended" //prettier的設定會覆蓋前面的
  ]
}
